#main-container {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container form {
  width: 300px;

  display: flex;
  flex-direction: column;
}

#main-container form input {
  height: 48px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 30px;
}

#main-container form button {
  height: 48px;
  background: #1e64e4;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
  color: #FFF;
  font-weight: bold;
  border: 0;
  cursor: pointer;
}

#main-container form button:hover {
  opacity: 0.8;
}

#main-container form a {
  padding: 5px;
  margin-top: 25px;
  text-decoration: none;
  color: #032d43;
  font-size: inherit;
}

.custom-file {
  height: 48px;
  background: #1e64e4;
  font-size: 16px;
  padding: 0 20px;
  margin-top: 10px;
  color: #FFF;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}

.avatar-container {
  text-align: center;
  margin-top: 35px;
}

.avatar-container div {
  background-color: #aaa;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
}

.avatar-container img {
  width: 150px;
  height: 150px;
}

input[type='file'] {
  display: none;
}
